.home{
    display: flex;
    flex-direction: column; /* Align children vertically */
    align-items: center; /* Center content horizontally */
    height: 2000vh;
}

.background{
    background: url('../images/pexels-recal-media-60217.jpg');
    background-size:cover;
    width: 100%;
    height: 125vh;
}

.belowHeader{
    position: absolute;
    top: 300px;
    left: 0;
    right: 0;
    font-family: 'Raleway', sans-serif;
    color: white;
    /* border: 1px solid yellow; */
    text-align: center;
}
.belowHeader h1{
    font-size: 110px;
    margin-bottom: 0;
}
.belowHeader p{
    margin-top: 0;
    font-weight: 200;
    font-size: 40px;
}


/* styling for services portion */
.services{
    font-family: 'Raleway', sans-serif;
    background-color: white;
    text-align: center; /* Center content horizontally */
    padding: 20px; /* Add padding for better spacing */
}
/* styling for services h1 portion */
.services h1{
    font-size: 40px;
    color: rgb(161, 0, 0);
    margin-bottom: 0;
}
/* styling for services icon portion */
.servicesIcon{
    margin: 10px;
}
/* styling for services block portion */
.servicesBlock{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    /* border: 1px solid blue; */
}
/* styling for services block portion */
.sBlock{
    margin: 0 0 0px 50px;
    width:  400px;
    height: 400px;
    border-radius: 10px;
}
.sBlock:first-child{
    margin-left: 0;
}

/* first block background */
.sBlockBackground1{
    background: url('../images/double room 4.jpg');
    background-size: cover;
        background-position: center center;
        transition: background-size 0.5s;
}

/* second block background */
.sBlockBackground2{
    background: url('../images/double\ room\ 5.jpg');
    background-size: cover;
        background-position: center center;
        transition: background-size 0.5s;
}

/* third block background */
.sBlockBackground3{
    background: url('../images/family\ suite\ room\ 1.jpg');
        background-position: center center;
        background-size: cover;
    transition: background-size 0.5s;
}

.sBlockBackground1:hover,
.sBlockBackground2:hover,
.sBlockBackground3:hover{
        background-size: 200%;
        background-position: center center;
}

/* ... (other styles) ... */
.sBlock h2,
.sBlock h3,
.sBlock h4{
    text-shadow: 0 0 20px rgba(0, 0, 0, 1);
    color: white;
    text-align: left;
    position: relative;
    bottom: 0;
    left: 40px;
    transition: top 0.3s; /* Add transition for smooth animation */

}
.sBlock h2 {
    top: 280px;
}
.sBlock h3 {
    top: 290px;
}
.sBlock h4 {
    display: none;
}
.sBlock:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.sBlock:hover h2{
    top: 260px;
}
.sBlock:hover h3{
    top: 270px;

}
.sBlock:hover h4 {
    top: 250px;
    display: block; /* Show h4 on hover */
    text-decoration:underline;
}

/* gallery block styling */
.gallerySection{
    font-family: 'Raleway', sans-serif;
    background-color: white;
    text-align: center; /* Center content horizontally */
    padding: 20px; /* Add padding for better spacing */
    width: 100%;
    box-sizing: border-box;
}
.gallerySection h1{
    color: rgb(160, 0, 0);
    font-size: 42px;
}

.galleryBlock{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
    /* margin: auto; */
}

/* styling for services block portion */
.galleryBlockInside{
    margin: 25px 0 0px 25px;
}
.sBlock:first-child{
    margin-left: 0;
}

/* first block background */
.gBlockBackground{
    /* border: 1px solid red; */
    border-radius: 10px;
    width: 700px;
    height: 400px;
    background-size:cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.gBlockBackground2{
    /* border: 1px solid red; */
    border-radius: 10px;
    width: 460px;
    height: 300px;
    background-size:cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.MainFacilities{
    width: 100%;
}
.MainFacilities h1{
    color: rgb(160, 0, 0);
}
.facilities{
    display: flex;
    width: 100%;
    box-sizing: border-box;
}
.facilitiesInside{
    /* width: 33%; */
    flex: 1;
    border: 1px solid red;
}